<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class="chat-actor-name">{{alias}}</h4>
</div>

<hr>

<div>
  {{#if img}}
  <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  {{/if}}


  <div class="flexcol">
    {{#each groupedResults as |group key1|}}
    {{#if (gt group.value 0)}}
    <div class="dice-total">
      {{#for 1 group.count 1}}
      <div class="flexrow dice">
        <a class="dice-to-river" data-actor-id="{{@root.actorId}}" data-roll-id="{{@root.rollId}}"
          data-dice-value="{{group.dice}}">
          <label>{{group.dice}}</label>
          <img src="systems/fvtt-legends-of-wulin/images/dice/d10black.svg" />
        </a>
      </div>
      {{/for}}
      {{/if}}
      {{/each}}
    </div>
  </div>

  <ul>
    {{#if skill}}
    <li>{{skill.name}}: {{skill.system.level}} </li>
    {{/if}}

    {{#if bonusMalus}}
    <li>Modifier: {{bonusMalus}} </li>
    {{/if}}
    {{#if difficulty}}
    <li>Difficulty: {{difficulty}} </li>
    {{/if}}

    <li><strong>Total: {{total}} </strong></li>

  </ul>

</div>  
