<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

  <div class="flexcol">

    {{> systems/fvtt-legends-of-wulin/templates/dialogs/partial-common-roll-dialog.hbs}}
    
    {{#if style}}
    <div class="flexrow">
      <span class="roll-dialog-label">Combat Modifier : </span>
      <select class="" type="text" id="style-combat-modifier" value="{{styleCombatModifier}}" data-dtype="Number">
        {{#select styleCombatModifier}}
        {{#each style.system.stats as |stat key| }}
        <option value="{{key}}">{{upper key}} ({{stat.basic}} / {{stat.modified}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon : </span>
      <select class="" type="text" id="style-weapon" value="{{styleWeapon}}" data-dtype="Number">
        {{#select styleWeapon}}
        <option value="None">None</option>        
        {{#each weapons as |weapon key| }}
        <option value="{{weapon._id}}">{{weapon.name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Combat Style modifier : </span>
      <span class="roll-dialog-label" id="style-combat-bonus">{{styleBonus}}</span>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon modifier : </span>
      <span class="roll-dialog-label" id="style-weapon-bonus">0</span>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="roll-dialog-label">Difficulty : </span>
      <select class="" type="text" id="roll-difficulty" value="{{difficulty}}" data-dtype="Number">
        {{#select difficulty}}
        <option value="0">Not set/Not applicable</option>
        {{#each config.difficulty as |diffName value| }}
        <option value="{{value}}">{{diffName}} ({{value}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

  </div>

</form>