<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

  <div class="flexcol">

    {{> systems/fvtt-legends-of-wulin/templates/dialogs/partial-common-roll-dialog.hbs}}

    {{#if style}}
    <div class="flexrow">
      <span class="roll-dialog-label">Combat Modifier : </span>
      <select class="" type="text" id="style-combat-modifier" value="{{styleCombatModifier}}" data-dtype="Number">
        {{#select styleCombatModifier}}
        {{#each style.system.stats as |stat key| }}
        <option value="{{key}}">{{upper key}} ({{stat.basic}} / {{stat.modified}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon : </span>
      <select class="" type="text" id="style-weapon" value="{{styleWeapon}}" data-dtype="Number">
        {{#select styleWeapon}}
        <option value="None">None</option>
        {{#each weapons as |weapon key| }}
        <option value="{{weapon._id}}">{{weapon.name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Combat Style modifier : </span>
      <span class="roll-dialog-label" id="style-combat-bonus">{{styleBonus}}</span>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon modifier : </span>
      <span class="roll-dialog-label" id="style-weapon-bonus">0</span>
    </div>
      {{#if armor}}
      <div class="flexrow">
        <span class="roll-dialog-label">Armor modifier : </span>
        <span class="roll-dialog-label" id="style-armor-bonus">{{armorBonus}}</span>
      </div>
      <div class="flexrow">
        <span class="roll-dialog-label">Armor penalty : </span>
        <span class="roll-dialog-label" >{{armor.system.armorpenalty}}</span>
      </div>
      {{/if}}
    {{else}}
      {{#if armor}}
      <div class="flexrow">
        <span class="roll-dialog-label">Apply Armor modifier {{armor.system.armorpenalty}} : </span>
        <label class="item-field-label-short checkbox"><input type="checkbox" id="apply-armor-penalty" name="apply-armor-penalty" {{checked
            applyArmorPenalty}} /></label>
      </div>
      {{/if}}
    {{/if}}

    <div class="flexrow">
      <span class="roll-dialog-label">Weaknesses </span>
      <select class="" id="roll-weakness" data-type="String" multiple>
        {{#each weaknessses as |weakness idx|}}
        <option value="{{weakness._id}}" {{#if weakness.activated}}selected{{/if}}>{{weakness.name}}
          ({{weakness.system.conditiontype}} {{weakness.system.actionmodifier}})</option>
        {{/each}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Hyperactivities </span>
      <select class="" id="roll-hyperactivity" data-type="String" multiple>
        {{#each hyperactivities as |hyper idx|}}
        <option value="{{hyper._id}}" {{#if hyper.activated}}selected{{/if}}>{{hyper.name}}
          ({{hyper.system.conditiontype}} {{hyper.system.actionmodifier}})</option>
        {{/each}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Difficulty : </span>
      <select class="" type="text" id="roll-difficulty" value="{{difficulty}}" data-dtype="Number">
        {{#select difficulty}}
        <option value="0">Not set/Not applicable</option>
        {{#each config.difficulty as |diffName value| }}
        <option value="{{value}}">{{diffName}} ({{value}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

  </div>

</form>