<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

  <div class="flexcol">

    {{> systems/fvtt-legends-of-wulin/templates/dialogs/partial-common-roll-dialog.hbs}}

    {{#if style}}
    <div class="flexrow">
      <span class="roll-dialog-label">Combat Modifier : </span>
      <select class="" type="text" id="style-combat-modifier" value="{{styleCombatModifier}}" data-dtype="Number">
        {{#select styleCombatModifier}}
        {{#each style.system.stats as |stat key| }}
        <option value="{{key}}">{{upper key}} ({{stat.basic}} / {{stat.modified}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon : </span>
      <select class="" type="text" id="style-weapon" value="{{styleWeapon}}" data-dtype="Number">
        {{#select styleWeapon}}
        <option value="None">None</option>
        {{#each weapons as |weapon key| }}
        <option value="{{weapon._id}}">{{weapon.name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Combat Style modifier : </span>
      <span class="roll-dialog-label" id="style-combat-bonus">{{styleBonus}}</span>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Weapon modifier : </span>
      <span class="roll-dialog-label" id="style-weapon-bonus">0</span>
    </div>
      {{#if armor}}
      <div class="flexrow">
        <span class="roll-dialog-label">Armor modifier : </span>
        <span class="roll-dialog-label" id="style-armor-bonus">{{armorBonus}}</span>
      </div>
      {{/if}}
    {{else}}
      {{#if armor}}
      <div class="flexrow">
        <span class="roll-dialog-label">Apply Armor modifier {{armor.system.armorpenalty}} : </span>
        <label class="item-field-label-short checkbox"><input type="checkbox" id="apply-armor-penalty" name="apply-armor-penalty" {{checked
            applyArmorPenalty}} /></label>
      </div>
      {{/if}}
    {{/if}}

    <div class="flexrow">
      <span class="roll-dialog-label">Weaknesses </span>
      <ul>
        {{#each conditions as |weakness idx|}}
          {{#if (eq weakness.system.conditionkind "weakness")}}
          <li class="flexrow">
            <label class="item-field-label-medium">{{weakness.name}} ({{weakness.system.actionmodifier}})</label>
            <label class="item-field-label-short checkbox"><input type="checkbox" class="roll-condition-apply" data-condition-id="{{weakness._id}}"
              data-modifier-value="{{weakness.system.actionmodifier}}" {{checked weakness.activated}} /></label>
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Hyperactivities </span>
      <ul>
        {{#each conditions as |hyperactivity idx|}}
          {{#if (eq hyperactivity.system.conditionkind "hyperactivity")}}
          <li class="flexrow">
            <label class="item-field-label-medium">{{hyperactivity.name}} ({{hyperactivity.system.actionmodifier}})</label>
            <label class="item-field-label-short checkbox"><input type="checkbox" class="roll-condition-apply" data-condition-id="{{hyperactivity._id}}"
              data-modifier-value="{{hyperactivity.system.actionmodifier}}" {{checked hyperactivity.activated}} /></label>
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">Difficulty : </span>
      <select class="" type="text" id="roll-difficulty" value="{{difficulty}}" data-dtype="Number">
        {{#select difficulty}}
        <option value="0">Not set/Not applicable</option>
        {{#each config.difficulty as |diffName value| }}
        <option value="{{value}}">{{diffName}} ({{value}})</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

  </div>

</form>