<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">

        <div class="profile-img-container">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        </div>

        <div class="flexcol">
          <h1 class="charname margin-right"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>

          <div class="flexrow">
            <ul>
              <li class="flexrow item">
                <label class="item-name-label-medium">Concept</label>
                <input type="text" class="item-name-label-header-long2" name="system.biodata.concept"
                  value="{{system.biodata.concept}}" data-dtype="String" />
              </li>
              <li class="item flexrow">
                <label class="item-name-label-medium">Rank</label>
                <input type="text" class="item-field-label-short" name="system.biodata.rank"
                  value="{{system.biodata.rank}}" data-dtype="Number" />
                <label class="list-item-margin1 item-name-label-medium">Archetype</label>
                <input type="text" class="item-field-label-long" name="system.biodata.archetype"
                  value="{{system.biodata.archetype}}" data-dtype="String" />
              </li>
              <li class="flexrow item">
                <label class="item-name-label-medium">Destiny</label>
                <input type="text" class="item-field-label-short" name="system.destiny.spent"
                  value="{{system.destiny.spent}}" data-dtype="Number" />
                <input type="text" class="item-field-label-short" name="system.destiny.unspent"
                  value="{{system.destiny.unspent}}" data-dtype="Number" />
                <label class="list-item-margin1 item-name-label-medium">Entanglement</label>
                <input type="text" class="item-field-label-short" name="system.entanglement.value"
                  value="{{system.entanglement.value}}" data-dtype="String" />
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="conditions">Conditions</a>
    <a class="item" data-tab="equipements">Equipment</a>
    <a class="item" data-tab="biodata">Notes&Bio</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">


      <div class="grid grid-2col">

        <div>
          <ul class="stat-list alternate-list item-list">
            {{#each skills as |skill key|}}
            <li class="item flexrow list-item" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-field-label-long">
                <a class="roll-skill" data-skill-key="{{key}}" data-skill-id="{{skill._id}}">
                  <i class="fa-solid fa-dice-d6"></i>
                  {{skill.name}}
                </a>
              </span>
              <span class="item-field-label-short">{{skill.system.level}}</span>
              <span class="item-field-label-long2">{{skill.system.specialties}}</span>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <h3>Chi Threshold</h3>
          {{#each system.chi_threshold as |chi key|}}
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-field-label-medium">{{upperFirst key}}</span>
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.trivial"
                value="{{chi.trivial}}" data-dtype="Number" />
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.minor"
                value="{{chi.minor}}" data-dtype="Number" />
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.major"
                value="{{chi.major}}" data-dtype="Number" />
            </li>
          </ul>
          {{/each}}

          <h3>Chi</h3>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-field-label-medium">Name</span>
              <span class="item-field-label-short">Value</span>
              <span class="item-field-label-short">Cult.</span>
              {{#if (exists chi.max)}}
              <span class="item-field-label-short">Max</span>
              {{/if}}
            </li>
            {{#each system.chi as |chi key|}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-field-label-medium">{{upperFirst key}}</span>
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.value"
                value="{{chi.trivial}}" data-dtype="Number" />
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.cultivation"
                value="{{chi.minor}}" data-dtype="Number" />
              {{#if (exists chi.max)}}
              <input type="text" class="item-field-label-short" name="system.chi_threshold.{{key}}.max"
                value="{{chi.max}}" data-dtype="Number" />
              {{/if}}
            </li>
            {{/each}}
          </ul>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-long">Total Chi Cultivation</span>
            <input type="text" class="item-field-label-short" name="system.cultivation.total"
              value="{{system.cultivation.total}}" data-dtype="Number" />
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-long">Maximum Chi Aura</span>
            <input type="text" class="item-field-label-short" name="system.aura.max" value="{{system.aura.max}}"
              data-dtype="Number" />
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-long">Chi Replenishment</span>
            <input type="text" class="item-field-label-short" name="system.replenishment.total"
              value="{{system.replenishment.total}}" data-dtype="Number" />
          </li>

        </div>
      </div>

    </div>


    <div class="tab combat" data-group="primary" data-tab="combat">

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header-long2">
            <h3><label class="item-name-label-header-long2">External Styles</label></h3>
          </span>
          <span class="item-field-label-short">
            <label class="item-field-label-short">Niveau</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="trait" title="Create Trait"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each externalStyles as |style key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{style._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{style.img}}" /></a>
          <span class="item-name-label-long2">{{style.name}}</span>
          <span class="item-field-label-short"><label>{{style.system.level}}</label></span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete trait"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

    </div>

    <div class="tab conditions" data-group="primary" data-tab="conditions">

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header-long2">
            <h3><label class="item-name-label-header-long2">{{localize "ECRY.ui.weapons"}}</label></h3>
          </span>
          <span class="item-field-label-medium">
            <label class="item-field-label-medium">{{localize "ECRY.ui.type"}}</label>
          </span>
          <span class="item-field-label-medium">
            <label class="item-field-label-medium">{{localize "ECRY.ui.effect"}}</label>
          </span>
        </li>
        {{#each weapons as |weapon key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{weapon.img}}" /></a>
          <span class="item-name-label-long2">
            <a class="roll-weapon-confront" data-category-key="{{categkey}}" data-skill-key="{{skillkey}}">
              <i class="fa-regular fa-swords"></i>
              {{weapon.name}}
            </a>
          </span>
          <span class="item-field-label-medium">{{localize (concat "ECRY.ui." weapon.system.weapontype)}}</span>
          <span class="item-field-label-medium">{{weapon.system.effect}}</span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete weapon"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

    </div>


    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      <span class="item-name-label-header items-title-bg">
        <h3><label class="items-title-text">Equipements (saisie libre)</label></h3>
      </span>
      <div class="form-group small-editor">
        {{editor equipementlibre target="system.equipementlibre" button=true owner=owner editable=editable}}
      </div>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Armes</label></h3>
          </span>
          <span class="item-field-label-medium">
            <label class="item-field-label-medium">Normaux</label>
          </span>
          <span class="item-field-label-medium">
            <label class="item-field-label-medium">Particulier</label>
          </span>
          <span class="item-field-label-medium">
            <label class="item-field-label-medium">Critique</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="weapon" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each armes as |arme key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{arme._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{arme.img}}" /></a>
          <span class="item-name-label">{{arme.name}}</span>
          <span class="item-field-label-medium"><label>{{arme.system.dommagenormale}}</label></span>
          <span class="item-field-label-medium"><label>{{arme.system.dommagepart}}</label></span>
          <span class="item-field-label-medium"><label>{{arme.system.dommagecritique}}</label></span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Equipements (Items)</label></h3>
          </span>
          <span class="item-field-label-long">
            <label class="short-label">Q.</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="equipment" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>

        </li>
        {{#each equipements as |equip key|}}
        <li class="item list-item flexrow list-item-shadow" data-item-id="{{equip._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{equip.img}}" /></a>
          <span class="item-name-label">{{equip.name}}</span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Sortilèges</label></h3>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">Seuil</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="equipment" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>

        </li>
        {{#each sorts as |sort key|}}
        <li class="item list-item flexrow list-item-shadow" data-item-id="{{sort._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{sort.img}}" /></a>
          <span class="item-name-label">{{sort.name}}</span>
          <span class="item-field-label-medium">
            <label class="short-label">{{sort.system.seuil}}</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <hr>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">

      <div class="grid grid-2col">
        <div>
          <ul class="item-list alternate-list">
            <li class="item flexrow">
              <label class="item-name-label-medium">Lieu de naissance</label>
              <input type="text" class="" name="system.biodata.lieunaissance" value="{{system.biodata.lieunaissance}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="item-name-label-medium">Age</label>
              <input type="text" class="" name="system.biodata.age" value="{{system.biodata.age}}"
                data-dtype="String" />
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="item flexrow">
              <label class="item-name-label-medium">Résidence</label>
              <input type="text" class="" name="system.biodata.residence" value="{{system.biodata.residence}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="item-name-label-medium">Nationalité</label>
              <input type="text" class="" name="system.biodata.nationalite" value="{{system.biodata.nationalite}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="item-name-label-medium">Enfance</label>
              <input type="text" class="" name="system.biodata.enfance" value="{{system.biodata.enfance}}"
                data-dtype="String" />
            </li>
          </ul>
        </div>
      </div>

      <hr>
      <span class="item-name-label-header items-title-bg">
        <h3><label class="items-title-text">Background</label></h3>
      </span>
      <div class="form-group editor">
        {{editor description target="system.biodata.description" button=true owner=owner
        editable=editable}}
      </div>
      <hr>
      <span class="item-name-label-header items-title-bg">
        <h3><label class="items-title-text">Notes</label></h3>
      </span>
      <div class="form-group editor">
        {{editor notes target="system.biodata.notes" button=true owner=owner editable=editable}}
      </div>
      <hr>

    </div>


  </section>
</form>