<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/fvtt-legends-of-wulin/templates/items/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/fvtt-legends-of-wulin/templates/items/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>

          <li class="flexrow">
            <label class="item-name-label-long">Kind of condition</label>
            <select class="item-field-label-medium" type="text" name="system.conditionkind" value="{{system.conditionkind}}" data-dtype="String">
              {{#select system.conditionkind}}
                {{#each config.conditionKind as |type key| }}
                <option value="{{key}}">{{type}}</option>
                {{/each}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-name-label-long">Type</label>
            <select class="item-field-label-medium" type="text" name="system.conditiontype" value="{{system.conditiontype}}" data-dtype="String">
              {{#select system.conditiontype}}
                {{#each config.conditionType as |type key| }}
                <option value="{{key}}">{{type}}</option>
                {{/each}}
              {{/select}}
            </select> 
          </li>


          <li class="flexrow">
            <label class="item-name-label-long">Action modifier</label>
            <select class="item-field-label-medium" type="text" name="system.actionmodifier" value="{{system.actionmodifier}}" data-dtype="String">
              {{#select system.actionmodifier}}
                {{#each config.modifierAll5 as |type key| }}
                <option value="{{key}}">{{type}}</option>
                {{/each}}
              {{/select}}
            </select> 
          </li>
          <li class="flexrow">
            <label class="item-name-label-long">Breath modifier</label>
            <select class="item-field-label-medium" type="text" name="system.breathmodifier" value="{{system.breathmodifier}}" data-dtype="String">
              {{#select system.breathmodifier}}
                {{#each config.modifierAll1 as |type key| }}
                <option value="{{key}}">{{type}}</option>
                {{/each}}
              {{/select}}
            </select> 
          </li>

          <div class="flexrow">
            <span class="item-name-label-long">Apply automatically</span>
            <label class="item-field-label-short checkbox"><input type="checkbox" name="system.autoapply"
                {{checked system.autoapply}} /></label>
          </div>

        </ul>
    </div>
  </div>

  </section>
</form>
